     body{
         margin: 0;
         overflow-x: hidden;
     }
     
     .node rect {
      cursor: move;
      fill-opacity: .9;
      shape-rendering: crispEdges;
    }

    .node text {
      pointer-events: none;
      text-shadow: 0 1px 0 #fff;
    }



    .linkC0 {
      fill: none;
      stroke: #b0000b;
      stroke-opacity: .3;
    }

    .linkC1 {
      fill: none;
      stroke: #527fff;
      stroke-opacity: .3;
    }

    .linkC2 {
      fill: none;
      stroke: #ff5a0c;
      stroke-opacity: .3;
    }


    .linkC3 {
      fill: none;
      stroke: #65c347;
      stroke-opacity: .3;
    }


    .linkC4 {
      fill: none;
      stroke: #8c007c;
      stroke-opacity: .3;
    }


    .linkC5 {
      fill: none;
      stroke: #cbbf2d;
      stroke-opacity: .3;
    }

    .linkC6 {
      fill: none;
      stroke: #007840;
      stroke-opacity: .3;
    }

    .linkC7 {
      fill: none;
      stroke: #e33782;
      stroke-opacity: .3;
    }


    .linkC8 {
      fill: none;
      stroke: #bb52d1;
      stroke-opacity: .3;
    }

    .linkC9 {
      fill: none;
      stroke: #00088b;
      stroke-opacity: .3;
    }

    .linkC10 {
      fill: none;
      stroke: #e24942;
      stroke-opacity: .3;
    }


    .linkC11 {
      fill: none;
      stroke: #180101;
      stroke-opacity: .3;
    }

    .linkC1:hover {
      stroke-opacity: .5;
    }

    .linkC2:hover {
      stroke-opacity: .7;
    }

    .linkC3:hover {
      stroke-opacity: .7;
    }

    .linkC4:hover {
      stroke-opacity: .7;
    }

    .linkC5:hover {
      stroke-opacity: .7;
    }

    .linkC6:hover {
      stroke-opacity: .7;
    }

    .linkC7:hover {
      stroke-opacity: .7;
    }

    .linkC8:hover {
      stroke-opacity: .7;
    }

    .linkC9:hover {
      stroke-opacity: .7;
    }

    .linkC0:hover {
      stroke-opacity: .7;
    }

    .linkC10:hover {
      stroke-opacity: .7;
    }

    .linkC11:hover {
      stroke-opacity: .7;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      li a:hover {
        background-color: #111;
      }